<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="#{request.contextPath}/resources/syscheck/images/favicon.ico" />
	</f:facet>

	<title>SysCheck</title>

	<h:outputStylesheet library="syscheck" name="css/custom.css" />
	<h:outputStylesheet library="syscheck" name="css/layout.css" />
	<h:outputStylesheet library="syscheck" name="css/components.css" />
	<h:outputStylesheet library="syscheck" name="css/sistema.css" />

	<h:outputScript target="body" library="primefaces" name="jquery/jquery.js" />
	<h:outputScript target="body" library="syscheck" name="js/app.js" />
	<h:outputScript target="body" library="syscheck" name="js/primeCalendar.js" />
</h:head>

<h:body id="blockArea" style="position: absolute!important;">
	<p:blockUI block="blockArea" widgetVar="block" />
	
	<p:ajaxStatus style="position: fixed; bottom: 0; right: 0; z-index: 99999;" onstart="PF('block').show()" onsuccess="PF('block').hide()">
		<f:facet name="start">
			<p:graphicImage library="syscheck" name="images/loading.gif" style="width: 50px; z-index:999999" />
		</f:facet>
		<f:facet name="complete">
			<h:outputText value="" />
		</f:facet>
	</p:ajaxStatus>

	<header class="aw-topbar" style="background-color: #1A1A1A; z-index: 99;">
		<a href="#" class="aw-toggle  js-toggle"><i class="fa fa-bars" /></a>
	</header>

	<div style="float: right; margin-right: 15px; font-size: 15px">
		<p>
			<strong>Bem vindo, #{loginController.usuarioLogado.nomUsuario}</strong>
		</p>
	</div>

	<aside class="aw-sidebar js-sidebar" style="z-index: 1; background-color: rgba(255, 255, 255, 0.6)">
		<ui:include src="tpl_menu.xhtml" />
	</aside>

	<section class="aw-content  js-content">
		<ui:insert name="content" />
	</section>

	<h:form>
		<p:confirmDialog global="true">
			<div align="center">
				<p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close" />
				<p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
			</div>
		</p:confirmDialog>
	</h:form>

	<div class="footer" style="text-align: center">
		<footer>
			<p style="color: grey">&#169; SysCheck. 2017 - Todos os direitos reservados &#174;</p>
		</footer>
	</div>
</h:body>
<script type="text/javascript">
	window.onload = function() {
		document.getElementById('blockArea').style.position='absolute';
		document.getElementById('blockArea').style.height='100%';
	}
</script>
</html>