<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://primefaces.org/ui">

	<h:form>
		<p:menu toggleable="true" style="border:none; padding-top: 0; padding-bottom: 0;">
			<p:submenu label="Cadastros" expanded="false" rendered="#{loginController.usuarioAdmin}">
				<p:menuitem value="Usuários" icon="fa fa-user-plus" outcome="/restricted/forms/frm_usuario.xhtml" />
				<p:menuitem value="Maquinas" icon="fa fa-user-plus" outcome="/restricted/forms/frm_equipamento.xhtml" />
				<p:menuitem value="Itens" icon="fa fa-user-plus" outcome="/restricted/forms/frm_item.xhtml" />
				<p:menuitem value="Fichas" icon="fa fa-user-plus" outcome="/restricted/forms/frm_check_list.xhtml" />
			</p:submenu>

			<p:submenu label="Check List" expanded="false">
				<p:menuitem value="Check List" icon="fa fa-user-plus" outcome="/restricted/forms/frm_check_list_resposta.xhtml" />
				<p:menuitem value="Check List Respondidos" icon="fa fa-user-plus" outcome="/restricted/forms/frm_check_list_respondidos.xhtml" />
			</p:submenu>

			<p:submenu label="Administração do Sistema" expanded="false">
				<p:menuitem value="Sair" icon="fa fa-power-off" action="#{loginController.logout()}" />
			</p:submenu>
		</p:menu>
	</h:form>
</ui:composition>