/* TOGGLE */
.aw-toggle {
	float: right;
	line-height: 50px;
	margin-right: 15px;
	color: #fff;
}

/* MENU */
.aw-menu {
	font-size: 1.1em;
}

.ui-menu{
	width: 100%!important;
}

.aw-menu > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.aw-menu > ul a {
	display: block;
	padding: 10px 15px;
	
	text-decoration: none;
	font-weight: 500;
	color: #373737;
} 

.aw-menu > ul i {
	margin-right: 6px;
}

.aw-menu > ul a:hover, .aw-menu > ul a:focus {
	background-color: #dfdfdf;
}

.aw-menu > ul .is-selected {
	border-left: 3px solid #1e94d2;
	background-color: #f3f3f3;
}

.aw-menu > ul .is-selected a {
	margin-left: -3px;
	color: #1e94d2;
}

/* PAGE-TITLE */
.aw-page-title {
	margin: 0;
	padding: 20px 0;
	
	font-size: 1.5em;
	color: #373737;
}

.ui-growl{
	margin-top:35px;
	margin-right:0px
}

.campoForm{
	vertical-align: top;
	padding: 5px;
	display: inline-block
}

.login{
	margin: 20px auto;
	width: 100px;
}

.font-bold{
	font-weight:bold;
}

