<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/templates/tpl_layout.xhtml">

	<ui:define name="content">
		<h1 class="aw-page-title">Maquinas</h1>

		<h:form id="frmPrincipal">
			<p:growl id="growl" autoUpdate="true" showDetail="true" showSummary="false" severity="info, warn, error" life="5000" />

			<p:toolbar id="toolbar">
				<f:facet name="left">
					<p:commandButton value="Novo" oncomplete="PF('dlgPrincipalWvar').show()" actionListener="#{equipamentoController.novo(null)}" update="pnDlgPrincipal" icon="fa fa-plus" />
					<span class="ui-separator"><span class="ui-icon ui-icon-grip-dotted-vertical" /></span>
					<p:commandButton icon="fa fa-pencil" value="Editar" title="Editar" disabled="#{equipamentoController.registroSelecionado == null}" oncomplete="PF('dlgPrincipalWvar').show()" update="pnDlgPrincipal">
						<f:setPropertyActionListener value="#{equipamentoController.registroSelecionado}" target="#{equipamentoController.entidade}" />
					</p:commandButton>
					<p:commandButton icon="fa fa-trash" title="Excluir" value="Excluir" actionListener="#{equipamentoController.excluir(null)}" process="@this" immediate="true" disabled="#{equipamentoController.registroSelecionado == null}" update="pnDlgPrincipal, dtPrincipal, toolbar">
						<p:confirm header="Confirmação de exclusão" message="Tem certeza que deseja excluir?" />
					</p:commandButton>
				</f:facet>
			</p:toolbar>

			<p:dataTable id="dtPrincipal" value="#{equipamentoController.listRegistros}" emptyMessage="Nenhum registro encontrado." var="dtPrincipalVar" rows="20" paginator="true" paginatorPosition="bottom" style="margin-top:5px" selection="#{equipamentoController.registroSelecionado}" selectionMode="single"
				rowKey="#{dtPrincipalVar.id}">

				<p:ajax event="rowSelect" update=":frmPrincipal:toolbar" listener="#{equipamentoController.onRowSelect}" process="@this" />
				<p:ajax event="rowUnselect" update=":frmPrincipal:toolbar" listener="#{equipamentoController.onRowUnselect}" process="@this" />

				<p:column headerText="Código" width="10%">
					<h:outputText value="#{dtPrincipalVar.id}" style="text-align:center" />
				</p:column>

				<p:column headerText="Equipamento">
					<h:outputText value="#{dtPrincipalVar.nomEquipamento}" />
				</p:column>

				<p:column headerText="Cód. Identificador">
					<h:outputText value="#{dtPrincipalVar.codIdentificador}" />
				</p:column>

				<p:column headerText="Observação">
					<h:outputText value="#{dtPrincipalVar.txtObservacao}" />
				</p:column>

				<p:column headerText="Data do cadastro" width="15%">
					<h:outputText value="#{dtPrincipalVar.dthCadastroFormatado}" styleClass="dtAlignCenter" />
				</p:column>
			</p:dataTable>

			<p:dialog header="Equipamento" widgetVar="dlgPrincipalWvar" id="dlgPrincipal" resizable="false" modal="true" closeOnEscape="true" style="margin-top:10px">
				<h:panelGroup id="pnDlgPrincipal">
					<div class="campoForm">
						<p:outputLabel value="Equipamento" />
						<div class="EmptyBox5" />
						<p:inputText value="#{equipamentoController.entidade.nomEquipamento}" />
					</div>

					<div class="campoForm">
						<p:outputLabel value="Código identificador" />
						<div class="EmptyBox5" />
						<p:inputText value="#{equipamentoController.entidade.codIdentificador}" />
					</div>

					<div class="EmptyBox5" />

					<div class="campoForm">
						<p:outputLabel value="Check List" />
						<div class="EmptyBox5" />
						<p:selectOneMenu value="#{equipamentoController.entidade.checkList}" converter="CheckListConverter" var="checkListVar">
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{equipamentoController.listCheckListSI}" />

							<p:column>
								<h:outputText value="#{checkListVar.id}" />
							</p:column>

							<p:column>
								<h:outputText value="#{checkListVar.nomCheckList}" />
							</p:column>
						</p:selectOneMenu>
					</div>

					<div class="EmptyBox5" />

					<div style="margin: 5px">
						<p:outputLabel value="Observação" />
						<div class="EmptyBox5" />
						<p:inputTextarea value="#{equipamentoController.entidade.txtObservacao}" style="width: 97%" />
					</div>
				</h:panelGroup>

				<f:facet name="footer">
					<p:commandButton value="Salvar" action="#{equipamentoController.salvar(null)}" icon="fa fa-save" update="frmPrincipal:dtPrincipal" />
				</f:facet>
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>