<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/templates/tpl_layout.xhtml">

	<ui:define name="content">
		<h1 class="aw-page-title">CheckList</h1>

		<h:form id="frmPrincipal">
			<p:growl id="growl" autoUpdate="true" showDetail="true" showSummary="false" severity="info, warn, error" life="5000" />

			<p:toolbar id="toolbar">
				<f:facet name="left">
					<p:commandButton value="Novo" oncomplete="PF('dlgPrincipalWvar').show()" actionListener="#{checkListController.novo(null)}" update="pnDlgPrincipal" icon="fa fa-plus" />
					<span class="ui-separator"><span class="ui-icon ui-icon-grip-dotted-vertical" /></span>
					<p:commandButton icon="fa fa-pencil" value="Editar" title="Editar" disabled="#{checkListController.registroSelecionado == null}" oncomplete="PF('dlgPrincipalWvar').show()" immediate="true" process="@this" actionListener="#{checkListController.editar(null)}" update="frmPrincipal:pnDlgPrincipal">
						<f:setPropertyActionListener value="#{checkListController.registroSelecionado}" target="#{checkListController.entidade}" />
					</p:commandButton>
					<p:commandButton icon="fa fa-trash" title="Excluir" value="Excluir" actionListener="#{checkListController.excluir(null)}" process="@this" immediate="true" disabled="#{checkListController.registroSelecionado == null}" update="pnDlgPrincipal, dtPrincipal, toolbar">
						<p:confirm header="Confirmação de exclusão" message="Tem certeza que deseja excluir?" />
					</p:commandButton>
				</f:facet>
			</p:toolbar>

			<p:dataTable id="dtPrincipal" value="#{checkListController.listRegistros}" emptyMessage="Nenhum registro encontrado." var="dtPrincipalVar" rows="20" paginator="true" paginatorPosition="bottom" style="margin-top:5px" selection="#{checkListController.registroSelecionado}" selectionMode="single"
				rowKey="#{dtPrincipalVar.id}">

				<p:ajax event="rowSelect" update=":frmPrincipal:toolbar" listener="#{checkListController.onRowSelect}" process="@this" />
				<p:ajax event="rowUnselect" update=":frmPrincipal:toolbar" listener="#{checkListController.onRowUnselect}" process="@this" />

				<p:column headerText="Código" width="10%">
					<h:outputText value="#{dtPrincipalVar.id}" style="text-align:center" />
				</p:column>

				<p:column headerText="CheckList">
					<h:outputText value="#{dtPrincipalVar.nomCheckList}" />
				</p:column>

				<p:column headerText="Data do cadastro" width="15%">
					<h:outputText value="#{dtPrincipalVar.dthCadastroFormatado}" styleClass="dtAlignCenter" />
				</p:column>
			</p:dataTable>

			<p:dialog header="CheckList" widgetVar="dlgPrincipalWvar" id="dlgPrincipal" resizable="false" width="500" modal="true" closeOnEscape="true" style="margin-top:10px">
				<h:panelGroup id="pnDlgPrincipal">
					<div class="campoForm">
						<p:outputLabel value="CheckList" />
						<div class="EmptyBox5" />
						<p:inputText value="#{checkListController.entidade.nomCheckList}" />
					</div>

					<div class="EmptyBox5" />

					<p:separator />

					<div class="campoForm">
						<p:outputLabel value="Itens" />
						<div class="EmptyBox5" />
						<p:selectOneMenu id="item" value="#{checkListController.item}" converter="ItemConverter" var="itemVar" style="width: 200px">
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{checkListController.listItemSI}" />

							<p:column>
								<h:outputText value="#{itemVar.id}" />
							</p:column>

							<p:column>
								<h:outputText value="#{itemVar.nomItem}" />
							</p:column>

							<p:ajax update="item" />
						</p:selectOneMenu>
					</div>

					<div class="campoForm" style="float: right;">
						<div class="EmptyBox20" />
						<p:commandButton value="Adicionar" immediate="true" update="frmPrincipal:dtCheckListItem, frmPrincipal:item" process="@this" icon="fa fa-plus" action="#{checkListController.adicionarItemGrid()}" />
					</div>

					<p:dataTable id="dtCheckListItem" value="#{checkListController.listCheckListItem}" var="dtCheckListItemVar" rows="15" paginator="true" paginatorPosition="bottom" emptyMessage="Nenhum item adicionado." paginatorAlwaysVisible="false">
						<p:column headerText="Código" width="15%">
							<h:outputText value="#{dtCheckListItemVar.item.id}" />
						</p:column>

						<p:column headerText="Item">
							<h:outputText value="#{dtCheckListItemVar.item.nomItem}" />
						</p:column>

						<p:column headerText="Remover" width="20%">
							<p:commandLink style="display: block; text-align: center;" action="#{checkListController.removerItemGrid(dtCheckListItemVar)}" update="dtCheckListItem, frmPrincipal:item">
								<i class="fa fa-remove" style="color: #FA1744 !important;" />
							</p:commandLink>
						</p:column>
					</p:dataTable>
				</h:panelGroup>

				<f:facet name="footer">
					<p:commandButton value="Salvar" action="#{checkListController.salvar(null)}" icon="fa fa-save" update="frmPrincipal:dtPrincipal" />
				</f:facet>
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>