<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/templates/tpl_layout.xhtml">

	<ui:define name="content">
		<h1 class="aw-page-title">Items</h1>

		<h:form id="frmPrincipal">
			<p:growl id="growl" autoUpdate="true" showDetail="true" showSummary="false" severity="info, warn, error" life="5000" />

			<p:toolbar id="toolbar">
				<f:facet name="left">
					<p:commandButton value="Novo" oncomplete="PF('dlgPrincipalWvar').show()" actionListener="#{itemController.novo(null)}" update="pnDlgPrincipal" icon="fa fa-plus" />
					<span class="ui-separator"><span class="ui-icon ui-icon-grip-dotted-vertical" /></span>
					<p:commandButton icon="fa fa-pencil" value="Editar" title="Editar" disabled="#{itemController.registroSelecionado == null}" oncomplete="PF('dlgPrincipalWvar').show()" immediate="true" process="@this" actionListener="#{itemController.editar(null)}" update="frmPrincipal:pnDlgPrincipal">
						<f:setPropertyActionListener value="#{itemController.registroSelecionado}" target="#{itemController.entidade}" />
					</p:commandButton>
					<p:commandButton icon="fa fa-trash" title="Excluir" value="Excluir" actionListener="#{itemController.excluir(null)}" process="@this" immediate="true" disabled="#{itemController.registroSelecionado == null}" update="pnDlgPrincipal, dtPrincipal, toolbar">
						<p:confirm header="Confirmação de exclusão" message="Tem certeza que deseja excluir?" />
					</p:commandButton>
				</f:facet>
			</p:toolbar>

			<p:dataTable id="dtPrincipal" value="#{itemController.listRegistros}" emptyMessage="Nenhum registro encontrado." var="dtPrincipalVar" rows="20" paginator="true" paginatorPosition="bottom" style="margin-top:5px" selection="#{itemController.registroSelecionado}" selectionMode="single" rowKey="#{dtPrincipalVar.id}">

				<p:ajax event="rowSelect" update=":frmPrincipal:toolbar" listener="#{itemController.onRowSelect}" process="@this" />
				<p:ajax event="rowUnselect" update=":frmPrincipal:toolbar" listener="#{itemController.onRowUnselect}" process="@this" />

				<p:column headerText="Código" width="10%">
					<h:outputText value="#{dtPrincipalVar.id}" style="text-align:center" />
				</p:column>

				<p:column headerText="Item">
					<h:outputText value="#{dtPrincipalVar.nomItem}" />
				</p:column>

				<p:column headerText="Data do cadastro" width="15%">
					<h:outputText value="#{dtPrincipalVar.dthCadastroFormatado}" styleClass="dtAlignCenter" />
				</p:column>
			</p:dataTable>

			<p:dialog header="Item" widgetVar="dlgPrincipalWvar" id="dlgPrincipal" resizable="false" modal="true" closeOnEscape="true" style="margin-top:10px">
				<h:panelGroup id="pnDlgPrincipal">
					<div class="campoForm">
						<p:outputLabel value="Item" />
						<div class="EmptyBox5" />
						<p:inputText value="#{itemController.entidade.nomItem}" />
					</div>
				</h:panelGroup>

				<f:facet name="footer">
					<p:commandButton value="Salvar" action="#{itemController.salvar(null)}" icon="fa fa-save" update="frmPrincipal:dtPrincipal" />
				</f:facet>
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>