<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/templates/tpl_layout.xhtml">

	<ui:define name="content">
		<h1 class="aw-page-title">Check Lists Respondidos</h1>

		<h:form id="frmPrincipal">
			<p:growl id="growl" autoUpdate="true" showDetail="true" showSummary="false" severity="info, warn, error" life="5000" />

			<p:dataTable id="dtPrincipal" value="#{checkListRespostaController.listCheckListRespostaWrapper}" emptyMessage="Nenhum registro encontrado." var="dtPrincipalVar" rows="20" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom">
				<p:column style="width:16px">
					<p:rowToggler />
				</p:column>

				<p:column headerText="Equipamento" filterBy="#{dtPrincipalVar.equipamento}">
					<h:outputText value="#{dtPrincipalVar.equipamento}" style="text-align:center" />
				</p:column>

				<p:column headerText="Check List" filterBy="#{dtPrincipalVar.checkList}">
					<h:outputText value="#{dtPrincipalVar.checkList}" />
				</p:column>

				<p:column headerText="Usuário" width="20%" filterBy="#{dtPrincipalVar.usuario}">
					<h:outputText value="#{dtPrincipalVar.usuario}" />
				</p:column>

				<p:column headerText="Data" width="15%" filterBy="#{dtPrincipalVar.data}">
					<h:outputText value="#{dtPrincipalVar.data}" styleClass="dtAlignCenter" />
				</p:column>

				<p:rowExpansion>
					<p:dataTable value="#{dtPrincipalVar.itens}" var="itemVar" style="padding: 10px">
						<f:facet name="header">
							<h:outputText value="Itens" />
						</f:facet>

						<p:column headerText="Item" width="30%">
							<h:outputText value="#{itemVar.item}" />
						</p:column>

						<p:column headerText="Status" width="10%">
							<h:outputText value="#{itemVar.statusFormatado}" styleClass="dtAlignCenter" />
						</p:column>

						<p:column headerText="Observação">
							<h:outputText value="#{itemVar.observacao}" />
						</p:column>
					</p:dataTable>
				</p:rowExpansion>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>